.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin: 0 150px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar h1 {
    font-size: 30px;
    color: #fff;
}
.navbar .links {
    display: flex;
    gap: 25px;
    
}
.navbar .links li a {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

@media screen  and (max-width: 800px){
    .navbar {
        /* background-color: red; */
        margin: 0;
    }
}